<link rel="stylesheet" href="/styles/vertical-navbar.css">
<div class="vertical-navbar">
    <ul class="vertical-items-navbar" style="padding-left: 0;">
        <div class="vertical-items-navbar-title">
          <li class="vertical-items-navbar-list-title">Share Log</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#1255;Dashboard</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#2225;Portfolio</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#3225;Report</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#4225;Strategy</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#5225;Wishlist</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#6225;Categories</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#7225;Community</li>
        </div>
        <div class="vertical-items-navbar-item">
          <li class="vertical-items-navbar-list-item">&#8225;Profile</li>
        </div>
    </ul>
</div>