<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container0">
        <div class="vertical-half">
            <ul class="vertical-items-navbar" style="padding-left: 0;">
                <div class="vertical-items-navbar-title">
                  <li class="vertical-items-navbar-list-title">Share Log</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#1255;Dashboard</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">
                    <a href= "/portfolio">Portfolio</a>
                  </li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#3225;Report</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#4225;Strategy</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#5225;Wishlist</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#6225;Categories</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#7225;Community</li>
                </div>
                <div class="vertical-items-navbar-item">
                  <li class="vertical-items-navbar-list-item">&#8225;Profile</li>
                </div>
            </ul>
        </div>
        <div class="horizontal-half">
          <div class="container1"> 
            <div class="container-navbar-horizontal">
                <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(24, 22, 22);">
                    <div class="container-fluid">
                      <h1 class="navbar-brand" style="font-size: 40px; ">Hi, Name!</h1>
                      <form class="d-flex" role="search" style="width: 50%;">
                        <input class="form-control me-2" type="search" placeholder="Search by Album title, UPC, Artist" aria-label="Search" style="width: 100%; background-color: rgb(98, 105, 112);">
                        
                      </form>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <h2 class="nav-link active" aria-current="page" style="font-size: 30px ; color: white; padding-right: 12px;">Home</h2>
                          </li>
                          <li class="nav-item" style="width: 2px;">
                            <a href="#" class="notification-icon">
                              <i class="fas fa-bell"></i>
                              <span class="notification-count" style="font-weight: bold;">.</span>
                            </a>
                          </li>  
                                                 
                          <li class="nav-item dropdown">
                            
                              <div class="container3" style="display: flex; flex-direction: row; padding-left: 1rem; align-items: baseline;"> 
                                <div class="profile-icon">
                                  <label for="profile-image">
                                    <img id="preview" src="placeholder.jpg" alt="">
                                  </label>
                                </div>
                                <div class="dropdown" style="margin-top: 15px; background-color: rgb(35, 35, 35);">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Name
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  </ul>
                                </div>
                              </div>
                          </li>
                          </div>
                        
                        </ul>
                        
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="container2">
              <div class="container-heading">
                <h1 class="heading-weekly-trends" style="color: rgb(98, 105, 112);">Weekly Trends</h1>
              </div>
              <div class="container-fetched-content">
                <div class="day-and-date"><h4 class="day-and-date-heading" style="color: rgb(98, 105, 112);;">DATE AND DAY</h4></div>
                <div class="p-and-l"><h3 class="p-and-l-heading" style="color: white; padding-left: 30px;">P & L</h3></div>
                <div class="amount-and-day">
                  <div class="amount"><h2 class="amount-heading" style="color: aquamarine;">AMOUNT</h2></div>
                  <div class="day-dropdown"><h5 class="dropdown" style="color: white;">DAY</h5></div>
                </div>
              </div>
              <div class="container-carousel">
                <div id="carouselExample" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&w=750&dpr=2" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&w=750&dpr=2" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&w=750&dpr=2" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div class="container-audio-control">

              </div>
              <div class="container-of-containers">
                <div class="container-cards"><div class="card1" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div></div>
                <div class="container-cards"><div class="card2" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div></div>
                <div class="container-cards"><div class="card3" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div></div>
                <div class="container-cards"><div class="card4" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div></div>
              
              </div>
            </div>
          </div> 
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>